@model List<ECC.DanceCup.Api.Presentation.Grpc.GetTournamentsResponse.Types.GetTournamentsItem>
@using ECC.DanceCup.Api.Presentation.Grpc

<div class="container-fluid">
    @if (Model != null)
    {
        foreach (var tournament in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <h3>@tournament.Name</h3>
                </div>
                <div class="card-body">
                    <p>@tournament.Description</p>
                    <p><strong>Дата:</strong> @tournament.Date.ToDateTime().ToString("dd.MM.yyyy")</p>
                    <p><strong>Состояние:</strong> @tournament.State</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "Tournament", new { id = tournament.Id })" class="btn btn-danger">
                        <i class="mdi mdi-pencil"></i> Редактировать турнир
                    </a>
                </div>
            </div>
        }
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- if (Model.CurrentPage > 1)
                {
                <li class="page-item">
                    <a class="page-link" href=Url.Action("Index", new { page = Model.CurrentPage - 1 })>Предыдущая</a>
                </li>
                }
                -->
                @for (int i = 1; i <= 1; i++)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
                <!--if (Model.CurrentPage < Model.TotalPages)
                {
                <li class="page-item">
                    <a class="page-link" href="Url.Action("Index", new { page = Model.CurrentPage + 1 })">Следующая</a>
                </li>
                }
                -->
            </ul>
        </nav>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            У вас пока нет созданных турниров
        </div>
    }
</div>